* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    transition: all ease 0.3s;
    color: var(--secondary-color);

    &:hover {
        text-decoration: none;
    }
}

img {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Pinup Medium';
    
    font-size: 20px;
    line-height: 32px;
}