@font-face {
    font-family: 'Pinup Black';
    src: url(../fonts/pinup-black/Pinup-Black.eot);
    src: url(../fonts/pinup-black/Pinup-Black?#iefix) format("embedded-opentype"),
    url(../fonts/pinup-black/Pinup-Black.woff2) format("woff2"),
    url(../fonts/pinup-black/Pinup-Black.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Pinup Medium';
    src: url(../fonts/pinup-medium/Pinup-Medium.eot);
    src: url(../fonts/pinup-medium/Pinup-Medium?#iefix) format("embedded-opentype"),
    url(../fonts/pinup-medium/Pinup-Medium.woff2) format("woff2"),
    url(../fonts/pinup-medium/Pinup-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

