@use "../utils/mixins" as *;

.benefits {
    display: flex;
    color: var(--white-color);
    padding: 26px 0;
    z-index: 1;

    @include desktop {
        order: 1;
        max-width: 700px;
        padding: 56px 0 26px;
    }

    &__item {
        font-size: 12px;
        line-height: 1;
        display: flex;

        @include desktop {
            color: var(--primary-color);
            font-size: 26px;
        }

        &:not(:last-child) {
            margin-right: 15px;

            @include mobile {
                margin-right: 24px;
            }

            @include desktop {
                margin-right: 52px;
            }
        }
    }

    &__icon {
        font-size: 24px;
        margin-right: 6px;

        @include desktop {
            font-size: 53px;
            margin-right: 11px;
        }
    }
}