@use "../utils/mixins" as *;

.benefits {
    display: flex;
    color: var(--white-color);
    padding: 26px 0;

    &__item {
        font-size: 12px;
        line-height: 12px;
        display: flex;

        &:not(:last-child) {
            margin-right: 20px;

            @include mobile {
                margin-right: 24px;
            }
        }
    }

    &__icon {
        font-size: 24px;
        margin-right: 6px;
    }
}