@use "../utils/mixins" as *;

.btn {
    width: 100%;
    background: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    font-size: 21px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Pinup Black';
    padding: 13px 38px;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 rgba(255, 36, 0, 0.55);
    letter-spacing: 0.05em;
    transition: transform 0.3s ease;
    z-index: 1;

    @include tablet {
        width: auto;
    }

    @include desktop {
        padding: 21px 61px;
        font-size: 27px;
        letter-spacing: 0;
        border-radius: 10px;
    }

    &:hover {
        @include desktop {
            box-shadow: 0 4px 25px 0 rgba(255, 36, 0, 0.70);
            transform: scale(1.05);
        }
    }
}