@use "../utils/mixins" as *;

.logo {
    width: 104px;
    height: 40px;
    display: block;

    @include desktop {
        width: 191px;
        height: 73px;
        margin-bottom: 90px;
    }

    &__img {
        width: 100%;
    }
}