@use "../utils/mixins" as *;

.title {

    &__bonus {
        padding: 8px 23px;
        color: var(--secondary-color);
        text-align: center;
        font-size: 23px;
        font-family: 'Pinup Black';
        line-height: 33px;
        text-transform: uppercase;
        background-color: var(--white-color);
        transform: skewY(-7deg);
        margin-top: auto;

        @include mobile {
            font-size: 27px;
        }
    }

    &__bonus-amount {
        font-size: 31px;

        @include mobile {
            font-size: 38px;
        }
    }

    &__freebet {
        color: var(--white-color);
        text-align: center;
        font-size: 19px;
        font-family: 'Pinup Black';
        line-height: 29px;
        text-transform: uppercase;
        background-color: var(--tetriary-color);
        padding: 5px 17px;
        transform: skewY(-7deg);
        margin-bottom: 40px;

        @include mobile {
            font-size: 23px;
        }
    }

    &__freebet-amount {
        font-size: 32px;
    }
}