@use "../utils/mixins" as *;

.title {

    &__bonus {
        padding: 8px 10px;
        color: var(--secondary-color);
        text-align: center;
        font-size: 23px;
        font-family: 'Pinup Black';
        line-height: 33px;
        text-transform: uppercase;
        background-color: var(--white-color);
        transform: skewY(-7deg);
        margin-top: auto;

        @include mobile {
            font-size: 27px;
            padding: 8px 20px;
        }

        @include desktop {
            font-size: 55px;
            padding: 33px 40px;
            margin-top: 0;
            z-index: 1;
            margin-bottom: 5px;
        }

        @include desktopXL {
            font-size: 61px;
            padding: 37px 46px;
        }

    }

    &__bonus-amount {
        font-size: 31px;

        @include mobile {
            font-size: 38px; 
        }

        @include desktop {
            font-size: 85px;
        }
    }

    &__freebet {
        color: var(--white-color);
        text-align: center;
        font-size: 19px;
        font-family: 'Pinup Black';
        line-height: 29px;
        text-transform: uppercase;
        background-color: var(--tetriary-color);
        padding: 5px 17px;
        transform: skewY(-7deg);
        margin-bottom: 40px;

        @include mobile {
            font-size: 23px;
        }

        @include desktop {
            font-size: 50px;
            padding: 28px 47px;
            margin-bottom: 100px;
        }
    }

    &__freebet-amount {
        font-size: 32px;

        @include desktop {
            font-size: 70px;
        }
    }
}